# Limit the devtype to usb_interface instead of usb_device because usb_device doesn't trigger events on system boot.
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", ACTION=="add", RUN+="/home/deck/.local/share/SDADSC/disable_steam_input.sh disable %E{PRODUCT} %k"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", ACTION=="remove", RUN+="/home/deck/.local/share/SDADSC/disable_steam_input.sh enable %E{PRODUCT} %k"
